<tr class="table-row center">
  <td>
    <%= client.name %>
  </td>

  <td>
    <%= client.updated_at.strftime("%m/%d/%Y") %>
  </td>

  <td>
    <%= link_to("", add_user_to_client_path(client_id: client.id),
      data: { :confirm => "Are you sure you want to assign #{client.name}" +
      " to yourself?" },
      class: "btn btn-default glyphicon glyphicon-unchecked") %>
  </td>
</tr>
