<% provide(:title, "My Clients") %>

<table class="table table-responsive client_box">
  <tbody>
    <div class="bg-info table-row box_header">
      <h4>
        <% if policy(User).index? %>
          <strong>Assigned to <%= user.name %></strong>
        <% else %>
          <strong>Assigned to Me</strong>
        <% end %>
      </h4>
    </div>
    <% assigned_clients.each do |assigned_client| %>
      <tr>
        <%= render partial: "assigned_row",
          locals: {client: assigned_client} %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
  <%= paginate assigned_clients %>
</div>
