<% provide(:title, "My Calendar") %>

<%= month_calendar(attribute: :start,
  events: appointments) do |date, appointments| %>

  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.client.first_name + " " + appointment.client.last_name +
        " " %>
      <strong>
        <%=
          link_to appointment.start.strftime("%l:%M%P"),
          edit_appointment_path(appointment, client_id: appointment.client.id)
        %>
      </strong>
    </div>
  <% end %>
<% end %>
