<% provide(:title, "Sign Up") %>

<h1>Sign up</h1>

<%= render 'form' %>

<br>

<%= link_to users_path, class: "btn btn-primary back-button" do %>
  <span class="glyphicon glyphicon-chevron-left"></span> Back to Users
<% end %>
