<% provide(:title, "Control Panel") %>

<div id=unassigned_assigned_outer_wrapper>
  <div id="assigned_client_box">
    <div class="outer-wrapper">
      <div class="inner-wrapper table-responsive" id="assigned-table">
        <table class="table">
          <tbody>
            <div class="bg-info table-row box_header">
              <h4><strong>Assigned to Me</strong></h4>
            </div>
            <% assigned_clients.each do |assigned_client| %>
              <tr>
                <%= render partial: "assigned_row",
                  locals: {client: assigned_client} %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="inner-wrapper table-responsive" id="unassigned-table">
    <table class="table">
      <tbody>
        <div class="bg-info box_header">
          <h4><strong>Unassigned Clients</strong></h4>
        </div>
        <tr class="info table-row">
          <td><strong>Referral Name</strong></td>
          <td><strong>Date Added</strong></td>
          <td><strong>Assign to Me</strong></td>
        </tr>
        <% unassigned_clients.each do |unassigned_client| %>
          <tr>
            <%= render partial: "unassigned_row",
              locals: {client: unassigned_client} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
