<% provide(:title, "New Client") %>

<div class="form_wrapper" id="new-client-panel">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Add new client to unassigned list</h4>
    </div>
    <div class="panel-body">
      <%= render "form" %>
    </div>
  </div>
</div>
