<% provide(:title, "Action") %>

<p>
  <strong>Notes:</strong>
  <%= client_action.notes %>
</p>

<p class="bold_text">
  WRAP Status Changed: <%= client_wrap_action_prettified %>
</p>

<%= link_to "Back", client_path(client_action.client_id) %>
