.stat_box {
  // background-color: #F4F7CB;
  width: 100%;
}

.small_box_header {
  width: 100%;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.stat_table_container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
