.client_box {
  background-color: #F4F7CB;
  height: 95%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.simple-calendar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

#navbar-buttons {
  margin-left: 2%;
}

.calendar-heading {
  font-size: 150%;
}

.box_header {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.outer_wrapper {
  padding-top: 10px;
}

#new_user_button {
  margin-left: 10px;
  margin-bottom: 15px;
}

.css_table {
  display: table;
}

.css_row {
  display: table-row;
}

.css_cell {
  display: table-cell;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.css_tbody {
  display: table-row-group;
}

hr {
  width: 1000%;
}
