<% provide(:title, "Edit Appointment") %>

<div class="form_wrapper">
  <h2>Edit Appointment</h2>
  
  <%= render "form" %>
</div>

<div class="btn-group">
  <%= link_to("Delete appointment", appointment_path(appointment),
    data: { :confirm => "Are you sure you want to delete this appointment?" },
    method: :delete, class: "btn btn-danger delete-appointment") %>
</div>
