<% provide(:title, "Monthly Statistics") %>

<% if monthly_stats.count == 0 %>
  <h5>
    Sorry, there are no statistics available yet. Statistics for each month will
    be automatically posted here on the first day of the following month.
  </h5>
<% else %>
  <h5>
    Statistics for each month will be automatically posted here on the first day
    of the following month.
  </h5>
  <% (2016..monthly_stats.last.year).to_a.reverse.each do |year_num| %>
    <div class="stat_table_container">
      <div class="bg-info small_box_header">
        <h2><strong><%= year_num %></strong></h2>
      </div>
      <table class="table table-striped table-responsive stat_box">
        <thead>
          <tr class="info table-row center">
            <td><strong>Month</strong></td>
            <td><strong># of WRAP sessions</strong></td>
            <td>
              <strong>
                # of unduplicated members who attended a WRAP session
              </strong>
            </td>
            <td><strong># of WRAP plans opened</strong></td>
            <td><strong># of WRAP plans completed</strong></td>
            <td>
              <strong>
                # of unduplicated members who attended a non-WRAP session
              </strong>
            </td>
            <td><strong># of non-WRAP sessions</strong></td>
          </tr>
        </thead>
        <tbody>
          <% current_monthly_stats = monthly_stats.where(
            "year = ?", year_num) %>
          <% (current_monthly_stats.minimum(:month)..
            current_monthly_stats.maximum(:month)).each do |month_num| %>
            <% current_monthly_stat = monthly_stats.where(
              "month = ?", month_num).first %>
            <%= render partial: "monthly_stat_row",
              locals: {current_monthly_stat: current_monthly_stat} %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
