<% provide(:title, "Sign in") %>

<div id="login_form">
  <div class="panel panel-primary" id="login-panel">
    <div class="panel-heading">
      <h4>Sign in</h4>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
      <br>
      <%= link_to "Forgot your password?", new_password_reset_path %>
    </div>
  </div>
</div>
